header {
    /* z-index: 150; */
    /* position: inherit */
}

header .both {
    transition: 0.2s ease;
}

header h1 {
    transition: 0.2s ease;
}

header .both.open {
    background-color: #865D36;
}

header .both.open + #box {
    left: 0
}

header .both.open h1 {
    color: white;
}

header #navbar {
    display: flex;
    position: fixed;
    top: 70px;
    background-color: #865D36;
    padding: 20px 20px 40px;
    right: 0;
    width: 65%;
    z-index: 150;
    box-shadow: -5px 5px 5px -3px rgba(0, 0, 0, 0.25);
    justify-content: center;
    height: fit-content;
    transition: 0.2s ease;
    transform: translateX(100%);
    max-width: 540px;
}

header #navbar.open {
    transform: translateX(0);
}

header .both {
    justify-content: space-evenly
}

#menu-btn.norm {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #875053;
    gap: 2.5px;
    display: flex;
    position: relative;
    cursor: pointer;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}

#menu-btn.norm div {
    background-color: white;
    width: 55%;
    height: 4px;
    border-radius: 5px;
    transition: 0.2s ease;
}

#menu-btn.norm div:first-of-type {
    position: absolute;
    top: 29%;
}

#menu-btn.norm div:last-of-type {
    position: absolute;
    bottom: 30%;
}

header #navbar ul:not(#media) {
    padding: 0px;
    margin: 0px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 30px
}

header #navbar a {
    color: white;
    transform: translateY(2px);
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}

header #navbar ul li:not(#media li) {
    list-style-type: none;
    text-align: center;
    margin: 10px 0px;
    width: fit-content;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    font-family: DM Serif Display, sans-serif;
}

header #navbar ul li:not(#media li)::after {
    transform: scaleX(0.5);
    display: block;
    background-color: white;
    width: 100%;
    height: 2px;
    content: "";
    transition: 0.2s ease;
}

header #navbar ul li:hover::after {
    transform: scaleX(1);
    background-color: #C76652;
}

#media {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 0px;
    width: 100%;
}

#media li {
    background-color: #D9D9D9;
    border-radius: 50%;
    list-style-type: none;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.25);
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    transition: 0.2s ease;
    overflow: hidden;
    cursor: pointer;
}

#media li::after {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    z-index: -10;
    height: 100%;
    border-radius: 50%;
    transform: scale(0);
    transition: 0.2s ease;
}

#media li:first-of-type::after {
    background-color: rgba(254, 218, 119, 1);
    background-image: linear-gradient(38deg, rgba(254, 218, 119, 1) 6%, rgba(245, 133, 41, 1) 23%, rgba(221, 42, 123, 1) 38%, rgba(129, 52, 175, 1) 74%, rgba(81, 91, 212, 1) 100%);
}

#media li:last-of-type::after {
    background-color: rgba(255, 255, 255, 1);
    background-image: linear-gradient(44deg, rgba(255, 255, 255, 1) 0%, rgba(55, 142, 255, 1) 50%, rgba(0, 39, 255, 1) 100%);
}

#media li i {
    font-size: 25px;
    transition: 0.2s ease;
}

#media li a {
    color: rgb(88, 88, 88)
}

#media li:hover::after {
    transform: scale(1.2);
}

#media li:hover a {
    color: white;
}

#menu-btn.open.norm div:nth-of-type(2) {
    transform: scale(0);
}

#menu-btn.open.norm div:nth-of-type(1) {
    top: 50%;
    transform: translateY(-50%) rotate(35deg);
}

#menu-btn.open.norm div:nth-of-type(3) {
    bottom: 50%;
    transform: translateY(50%) rotate(-35deg);
}

#box {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100vw;
    height: 100vh;
    z-index: 100;
    background-color: #a69080c5;
}

@media only screen and (min-width: 700px) {
    header #navbar {
        top: 80px;
    }

    #menu-btn.norm {
        transform: scale(1.4);
        /* width: 60px;
        height: 60px; */
    }

    #menu-btn.norm div:last-of-type {
        bottom: 28%;
    }

    #media {
        justify-content: space-between;
    }

    #media li {
        transform: scale(1.3);
    }
}

@media only screen and (min-width: 1100px) {
    header {
        background-color: hsl(29, 29%, 54%, 0.5);
    }

    header .both.open {
        background-color: hsl(29, 29%, 54%, 0.5)
    }

    #box {
        display: none;
    }

    header #menu-btn.norm {
        display: none;
    }

    header #navbar {
        display: flex;
        position: static;
        transform: translateX(0);
        background-color: #00000000;
        box-shadow: none;
        width: fit-content;
        padding: 0px;
        max-width: none;
    }

    header #navbar ul:not(#media) {
        justify-content: space-between;
        flex-direction: row;
    }

    #media {
        min-width: 120px;
        margin-left: 40px;
    }

    header #navbar ul li:not(#media li) {
        white-space: nowrap;
    }

    .both {
        max-width: 1100px;
    }
}